<div class="row">
    <div class="files">
        <div class="file-heading-row">
            <ul class="breadcrumb for-file-list col-xs-12" style="padding-bottom: 10px;">
                <li><a href="#">Home</a></li>
                <li><a href="#">we34</a></li>
                <li>Hi</li>
            </ul>
            <div class="subheader"></div>
        </div>
        <div class="clearfix"></div>
        <div class="file-body">
            <div class="rows"></div>
            <div class="file-empty text-center hide">{%= __("No Data") %}</div>
        </div>
        <div class="small form-clickable-section file-footer">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a href="javascript:void(0)" class="file-download btn btn-xs btn-default"
                       style="margin-left: 10px;">
                        {%= __("Download") %}</a>
                    <a href="javascript:void(0)" class="file-upload btn btn-xs btn-default"
                       style="margin-left: 10px;" webkitdirectory="" directory="">
                        {%= __("Upload") %}</a>
                </div>
            </div>
        </div>
    </div>
</div>